numpy
matplotlib
joblib==1.3.2
scipy==1.10.1
Cython==3.0.5
keras==2.15.0
tensorflow== 2.13.1
pandas==2.1.3

#access s3 bucket data
s3fs==2023.10.0
boto3

# wl module
PyWavelets==1.5.0
scikit-learn==1.3.2

#general
mlflow==2.8.1

#app
streamlit==1.28.2
