numpy
matplotlib
joblib
scipy
Cython
keras
tensorflow
pandas
pylint
black
pytest
jsons
dataprep

#fastapi
#fastapi
#pydantic
#uvicorn[standard]==0.25.0
#python-multipart

#access s3 bucket data
s3fs
boto3

# wl module
#PyWavelets
#scikit-learn

#general
#mlflow==2.8.1
clearml

#app
streamlit
seaborn
streamlit-extras

